*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

@media print {
    .btn{
        display: none;
    }

    
}

h1{
  color: white;
  font-size: 80px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 10px rgb(233, 106, 106);
}

body{
  background-color: #733DD9;
}

.container{
  padding: 40px 0px;
}
#tr1>th{
  background-color: #733DD9;
  color: white;
  margin: auto;

}

.productBlock>td{
  background-color: rgb(192, 174, 174);
}

#tableContainer{
  border-radius: 15px;
}

.outerWrapper{
  border: 2px solid rgb(161, 161, 157) !important;
  background-color: white;
  border-radius: 10px;
}

.billing{
  border: 2px solid rgb(161, 161, 157) !important;
  border-radius: 10px;
  background-color: rgb(147, 162, 187) !important;
  color: white;
}

h4{
  text-align: start;
  font-size: 30px;
  padding: 0px 0px 10px 10px ;
}

#invoiceNo_date{
  border: 2px solid rgb(161, 161, 157) !important;
  border-radius: 10px;
  background-color: rgb(147, 162, 187) !important;
  padding: 20px;
}

#cardhead{
  background-color: #d5d2d8;
}

#reset{
  background-color: rgb(233, 106, 106);
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}

#invoiceReview{
  background-color: #733DD9;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 20px;
}

img{
  width: 100px;
  display: flex;
  justify-content: end;
  background-color: rgb(215, 126, 126);
}



/* review */
.container2{
    width: 80%;
    height: 90vh;
    border: 2px solid red;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer2{
    width: 60%;
    border: 2px solid black;
    padding: 20px 70px;
    
}

.headinfo{
    display: flex;
    justify-content: space-between;
}

.billinfo{
    display: flex;
    justify-content: space-between;

}